header{
    width: 100%;
    height: 105px;
    background: white;
    color: black;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  header .submenu{
    width: 100%;
    height: 30px;
    background: whitesmoke;
    padding: 5px;
    padding-right: 1%;
  }

  header .submenu a{
    position: relative;
    margin-right: 15px;
    float: right;
    text-decoration: none;
    font-size: 20px;
    color: black;
  }

  header .submenu img{
    height: 20px;
  }
  
  header .contenedor{
    display: table;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  #menuBar{
    display: none;
  }
  
  header label{
    float: right;
    font-size: 50px;
    margin: 8px 0;
    cursor: pointer;
  }
  
  .menu{
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.5s;
    transform: translate(-100%);
  }
  
  .menu a{
    display: block;
    color: black;
    height: 75px;
    text-decoration: none;
    font-size: 22px;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .menu a:hover{
    background: rgba(177, 177, 177, 0.3);
  }
  
  #menuBar:checked ~ .menu{
    transform: translateX(0%);
  }
  
  @media (min-width:1024px) {
    .menu{
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float: right;
      display: flex;
    }
  
    .menu a{
      border: none;
      padding: 25px;
      text-align: center;
    }
  
    header label{
      display: none;
    }
  }