@import url(./footer.css);
@import url(./header.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'MyWebFont', Fallback, sans-serif;
}




.contenedor{
    width: 100%;
    margin: auto;
}

.encabezado{
    display: block;
    position:relative;
    width: 100%;
    height:max-content;
    background: white;
    border: 1px solid #000000;
    box-sizing: borde   r-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
#menubuttons{
  position: relative;
  display:inline-flexbox;
  margin-top: -6%;
  margin-bottom:3.5%;
  margin-left: 28%;
  margin-right: auto;
  word-wrap: break-word;
  font-size: 2vw;
  width: 60%;

}



#loginbutton{
  margin-left:11%;
  margin-right: 0%;
}*/

#textoentrada{
    margin-top: 3%;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    margin-bottom: 5.1%;
}

#productos{
    color: black;
    padding-top: 2%;
    margin-top: 4.34%;
    background: white;
    box-shadow: 0% 0.68% 0.68% rgba(0, 0, 0, 0.25);
    width: 93.84%;
    margin-left: auto;
    margin-right: auto;
}

.ropatitulos{
    font-size: 5.4vw;
    display: block;
    margin-top: 2%;
}

.imgcatalogo{
    width: 20vw;
    margin-left: 1.4vw;

    border: 0.5vw solid #FFFFFF;
    box-sizing: border-box;

}

.contenedor2{
    font-family: 'MyWebFont';
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

}

h4{
    text-align: center;
}

@media (min-width : 750px){

}

.borrar-platillo{

    background-color:white;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(71,71,71);
    font-weight: bold;

}

ul{
    list-style: none;
}

.submenu {
    position: relative;
}
.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    color: black;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: white;
    padding: 20px;
}

.vacio{
    padding: 10px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.vaciar{
    padding: 10px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    color: white;
}

div.scrollcards .card {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    height:fit-content;
    width: fit-content;
    background-color: transparent;
}