/*Productos mas vendidos*/
#productoVendido{
    padding-left: 1%;
    padding-right: 1%;
  }
  
#productoVendido h3 ,h5{
    text-align: center;
  }
  
#productoVendido .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
#productoVendido article{
    margin: 15px;
  }
  
#productoVendido img{
    width: 100%;
    max-width: 400px;
  }